.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #f5f5f5;
  margin-bottom: 0;
}

.services h2 {
  margin-bottom: 50px;
  font-size: 2.5rem;
  color: #333;
}

.scroller {
  overflow: visible;
}

.scroller-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.scroller .service-card {
  flex: 0 0 auto;
  width: 350px;
  margin: 0 1rem;
}

@media (max-width: 768px) {

  .scroller {
    overflow-x: auto;
  }

  .scroller .service-card {
    scroll-snap-align: center;
  }
}

.service-card {
  background-color: #000000d3;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2);
  }

  .service-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
  }

  h3 {
    padding: 20px;
    margin: 0;
    color: #f5f5f5;
    text-align: center;
    font-size: 1.3rem;
  }
}