.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1000;
  top: 0;

}

.menu-panel {
  width: 100%;
  padding: 2rem;
  animation: slideIn 0.3s ease forwards;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}